// ===============================
// Mixin: theme-selector
// ===============================
/// Wraps content for a specific theme selector
@mixin theme-selector($mode, $selector: null) {
  $sel: $selector;
  @if $selector == null {
    $sel: "html[theme='#{$mode}'], html[data-theme='#{$mode}']";
  }
  #{$sel} {
    @content;
  }
}



// ===============================
// Mixin: prefers-color-scheme auto
// ===============================
/// Wraps content for a specific prefers-color-scheme selector
@mixin prefers-color-scheme($mode, $selector: null) {
  @media (prefers-color-scheme: #{$mode}) {
    $sel: $selector;
    @if $selector == null {
      $sel: "html[theme='auto'], html[data-theme='auto']";
    }
    #{$sel} {
      @content;
    }
  }
}













