@use 'sass:map';

@mixin generate-utilities($prefix, $utilities) {

    @each $utility-name, $utility in $utilities {

        // Get the class name, css property and values from the utility
        $class-name: map.get($utility, class);
        $css-property: map.get($utility, property);
        $values: map.get($utility, values);
        $enable-important: map.get($utility, important);
        $group: map.get($utility, group);


        @if $values {

            @each $key, $value in $values {

                $suffix: "";
                @if $key != null {
                    $suffix: "-#{$key}";
                }

                $important: "";
                @if $enable-important {
                    $important: "!important";
                }

                @if $css-property and $class-name {
                    .#{$class-name}#{$suffix} {
                        
                        $class-value :  $value;
                        @if $value == "" or $value == null {
                            $class-value :  $key;
                        }

                        #{$css-property}: $class-value #{$important};
                    }
                } @else {
                    --#{$prefix}#{$key}: #{$value} #{$important};
                }
            }
        }
    }
}