// Checkbox mixin
@mixin checkbox($prefix) {
  .#{$prefix}checkbox-frame {
    input[type="checkbox"].#{$prefix}checkbox {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
      opacity: 0;
      clip-path: inset(50%);
      overflow: hidden;

      &:checked + label[for]::before {
        background-color: var(--#{$prefix}checkbox-checked-background-color);
        border-color: var(--#{$prefix}checkbox-checked-background-color);
      }

      &:checked + label[for]::after {
        opacity: 1;
      }

      &:focus-visible:not(:disabled) + label[for]::before {
        outline: var(--#{$prefix}focus-ring-outline-width)
          solid var(--#{$prefix}focus-ring-color);
        outline-offset: var(--#{$prefix}focus-ring-outline-offset);
      }

      &:disabled + label[for] {
        color: var(--#{$prefix}text-muted-color);
        opacity: var(--#{$prefix}disabled-control-opacity);
        cursor: not-allowed;
        pointer-events: none;
      }

      &:disabled + label[for]::before, &:disabled + label[for]::after {
        opacity: var(--#{$prefix}disabled-control-opacity);
      }

      &[readonly] {
        pointer-events: none;
      }

      &[readonly] + label[for] {
        cursor: default;
        pointer-events: none;
      }

      &[invalid] + label[for] {
        color: var(--#{$prefix}invalid-border-color);
      }

      &[invalid] + label[for]::before {
        border-color: var(--#{$prefix}invalid-border-color);
      }

      &[invalid]:checked + label[for]::before {
        background-color: var(--#{$prefix}invalid-color);
        border-color: var(--#{$prefix}invalid-color);
      }

      &[valid] + label[for] {
        color: var(--#{$prefix}valid-border-color);
      }

      &[valid] + label[for]::before {
        border-color: var(--#{$prefix}valid-border-color);
      }

      &[valid]:checked + label[for]::before {
        background-color: var(--#{$prefix}valid-color);
        border-color: var(--#{$prefix}valid-color);
      }
    }

    input[type="checkbox"].#{$prefix}checkbox + label[for] {
      position: relative;
      cursor: pointer;
      font: var(--#{$prefix}font-weight-base) var(--#{$prefix}font-size-base) / var(--#{$prefix}line-height-base) var(--#{$prefix}font-family-base);
      color: var(--#{$prefix}text-color);
      padding-inline-start: calc(
          var(--#{$prefix}checkbox-size) + var(--#{$prefix}control-padding-x)
        );
      user-select: none;
      transition: var(--#{$prefix}transition);
    }

    input[type="checkbox"].#{$prefix}checkbox + label[for]::before {
      content: "";
      position: absolute;
      inset-inline-start: 0;
      inset-block-start: 50%;
      transform: translateY(-50%);
      width: var(--#{$prefix}checkbox-size, 1.5rem);
      height: var(--#{$prefix}checkbox-size, 1.5rem);
      border: var(--#{$prefix}border-width, 1px) solid var(--#{$prefix}border-color);
      border-radius: var(--#{$prefix}checkbox-border-radius);
      background-color: var(--#{$prefix}background-color);
      background-clip: padding-box;
      box-sizing: border-box;
    }

    input[type="checkbox"].#{$prefix}checkbox + label[for]::after {
      content: "";
      position: absolute;
      inset-inline-start: calc((var(--#{$prefix}checkbox-size, 1.5rem) / 2) - (var(--#{$prefix}checkbox-size, 1.5rem) * 0.60 / 2));
      inset-block-start: 50%;
      width: calc(var(--#{$prefix}checkbox-size, 1.5rem) * 0.60);
      height: calc(var(--#{$prefix}checkbox-size, 1.5rem) * 0.50);
      transform: translateY(-50%);
      opacity: 0;
      transition: var(--#{$prefix}transition);
      background-color: var(--#{$prefix}checkbox-tick-color);
      mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5 L4.5 8.5 L11 1.5' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
    }
  }
}
