@use "../abstracts/mixins/theme" as mixins;

@mixin select($prefix) {
  .#{$prefix}select {
    display: block;
    width: 100%;
    overflow: auto;
    height: var(--#{$prefix}control-height);
    padding-inline: var(--#{$prefix}control-padding-x) calc(var(--#{$prefix}control-padding-x) * 2 + calc(calc(var(--#{$prefix}control-height) * 0.25) + 4px));
    padding-block: var(--#{$prefix}control-padding-y);
    font: var(--#{$prefix}font-weight-base) var(--#{$prefix}font-size-base) var(--#{$prefix}font-family-base) var(--#{$prefix}line-height-base);
    color: var(--#{$prefix}text-color);
    background-color: var(--#{$prefix}control-background-color);
    background-clip: padding-box;
    border: var(--#{$prefix}border-width, 0) solid var(--#{$prefix}border-color);
    border-radius: var(--#{$prefix}control-border-radius);
    outline: none;
    appearance: none;
    text-transform: none;
    transition: var(--#{$prefix}transition);
    background-image: var(--#{$prefix}arrow-down-svg);
    background-repeat: no-repeat;
    background-position: right calc(var(--#{$prefix}control-padding-x) + 2px) center;
    background-size: calc(var(--#{$prefix}control-height) * 0.25);

    &[multiple] {
      padding-inline-end: var(--#{$prefix}control-padding-x);
      background-image: none;
    }

    &:focus {
      border-color: var(--#{$prefix}focus-ring-color, var(--#{$prefix}border-color));
    }

    &[invalid] {
      border-color: var(--#{$prefix}invalid-border-color) !important;
      color: var(--#{$prefix}invalid-color) !important;
    }

    &[valid] {
      border-color: var(--#{$prefix}valid-border-color) !important;
      color: var(--#{$prefix}valid-color) !important;
    }

    &[disabled] {
      color: var(--#{$prefix}text-muted-color) !important;
      border-color: var(--#{$prefix}border-color) !important;
      opacity: var(--#{$prefix}disabled-control-opacity) !important;
    }

    option {
      color: var(--#{$prefix}text-color);
      background-color: var(--#{$prefix}control-background-color);
      font-family: inherit;
      font-size: inherit;

      &:checked {
        color: var(--#{$prefix}select-selected-text-color);
        background-color: var(--#{$prefix}select-selected-background-color);
      }

      &:disabled {
        opacity: var(--#{$prefix}disabled-control-opacity) !important;
      }
    }
  }

  @include mixins.direction-rtl-selector {
    .#{$prefix}select {
      background-position: left calc(var(--#{$prefix}control-padding-x) + 2px) center;
    }
  }
}