@use "sass:map";
@use "sass:color";
@use "../functions" as fn;

// ===============================
// Base Colors
// ===============================
$white: #fff !default;
$black: #000 !default;
$grays: (
  100: #f8f9fa,
  200: #e9ecef,
  300: #dee2e6,
  400: #ced4da,
  500: #adb5bd,
  600: #6c757d,
  700: #495057,
  800: #343a40,
  900: #212529,
) !default;
$palette: (
  blue: #0d6efd,
  indigo: #6610f2,
  purple: #6f42c1,
  pink: #d63384,
  red: #dc3545,
  orange: #fd7e14,
  yellow: #ffc107,
  green: #198754,
  teal: #20c997,
  cyan: #0dcaf0,
) !default;

// ===============================
// Semantic Colors
// ===============================
$primary: map.get($palette, blue) !default;
$secondary: map.get($grays, 600) !default;
$success: map.get($palette, green) !default;
$info: map.get($palette, cyan) !default;
$warning: map.get($palette, yellow) !default;
$danger: map.get($palette, red) !default;
$light: map.get($grays, 100) !default;
$dark: map.get($grays, 900) !default;

// ===============================
// Text & UI Colors
// ===============================
$text-color: #030613 !default;
$text-color-dark: map.get($grays, 200) !default;
$heading-color: $text-color !default;
$heading-color-dark: $text-color-dark !default;
$text-muted-color: map.get($grays, 600) !default;
$text-muted-color-dark: map.get($grays, 400) !default;
$border-color: map.get($grays, 400) !default;
$border-color-dark: map.get($grays, 600) !default;
$background-color: map.get($grays, 100) !default;
$background-color-dark: map.get($grays, 900) !default;
$box-shadow-color: rgb(0 0 0 / 50%) !default;
$box-shadow-color-dark: rgb(255 255 255 / 50%) !default;

// ===============================
// Highlight & Links
// ===============================
$highlight-color: $warning !default;
$highlight-background-color: fn.round-color(color.mix($white, $highlight-color, 25%)) !default;
$highlight-background-color-dark: fn.round-color(color.mix($black, $highlight-color, 25%)) !default;
$link-color: $primary !default;
$link-hover-color: fn.round-color(color.mix($black, $link-color, 25%)) !default;
$link-color-dark-temp: color.mix($white, $primary, 25%) !default;
$link-color-dark: fn.round-color($link-color-dark-temp) !default;
$link-hover-color-dark: fn.round-color(color.mix($black, $link-color-dark-temp, 25%)) !default;
$valid-color: $success !default;
$valid-color-dark: fn.round-color(color.mix($white, $valid-color, 25%)) !default;
$invalid-color: $danger !default;
$invalid-color-dark: fn.round-color(color.mix($white, $invalid-color, 25%)) !default;


// ===============================
// Public Color Maps
// ===============================
$colors: map.merge(
  $palette,
  (
    black: $black,
    white: $white,
    gray-lightest: map.get($grays, 100),
    gray-light: map.get($grays, 300),
    gray: map.get($grays, 500),
    gray-dark: map.get($grays, 700),
    gray-darkest: map.get($grays, 900),
    transparent: transparent,
  ),
) !default;
$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark,
) !default;

// ===============================
// Theme Colors Text, Background, Border (Light & Dark)
// ===============================
$theme-text-colors: (
  primary-text: fn.round-color(color.mix($black, $primary, 30%)),
  secondary-text: fn.round-color(color.mix($black, $secondary, 30%)),
  success-text: fn.round-color(color.mix($black, $success, 30%)),
  info-text: fn.round-color(color.mix($black, $info, 30%)),
  warning-text: fn.round-color(color.mix($black, $warning, 30%)),
  danger-text: fn.round-color(color.mix($black, $danger, 30%)),
) !default;
$theme-background-colors: (
  primary-background: fn.round-color(color.mix($white, $primary, 45%)),
  secondary-background: fn.round-color(color.mix($white, $secondary, 45%)),
  success-background: fn.round-color(color.mix($white, $success, 45%)),
  info-background: fn.round-color(color.mix($white, $info, 45%)),
  warning-background: fn.round-color(color.mix($white, $warning, 45%)),
  danger-background: fn.round-color(color.mix($white, $danger, 45%)),
) !default;
$theme-border-colors: (
  primary-border: fn.round-color(color.mix($white, $primary, 15%)),
  secondary-border: fn.round-color(color.mix($white, $secondary, 15%)),
  success-border: fn.round-color(color.mix($white, $success, 15%)),
  info-border: fn.round-color(color.mix($white, $info, 15%)),
  warning-border: fn.round-color(color.mix($white, $warning, 15%)),
  danger-border: fn.round-color(color.mix($white, $danger, 15%)),
) !default;
$theme-light-colors: (
  text-color: $text-color,
  text-muted-color: $text-muted-color,
  heading-color: $heading-color,
  background-color: $background-color,
  border-color: $border-color,
  box-shadow-color: $box-shadow-color,
  link-color: $link-color,
  link-hover-color: $link-hover-color,
  highlight-background-color: $highlight-background-color,
  valid-color: $valid-color,
  invalid-color: $invalid-color,
) !default;
$theme-dark-colors: (
  text-color: $text-color-dark,
  text-muted-color: $text-muted-color-dark,
  heading-color: $heading-color-dark,
  background-color: $background-color-dark,
  border-color: $border-color-dark,
  box-shadow-color: $box-shadow-color-dark,
  link-color: $link-color-dark,
  link-hover-color: $link-hover-color-dark,
  highlight-background-color: $highlight-background-color-dark,
  valid-color: $valid-color-dark,
  invalid-color: $invalid-color-dark,
) !default;