// ===============================
// Opacity values
// ===============================
$opacitys: (
  0: 0,
  25: 0.25,
  50: 0.5,
  75: 0.75,
  100: 1,
) !default;

// ===============================
// Button Disabled Opacity
// ===============================
$btn-disabled-opacity: (
  disabled-opacity: 0.6,
) !default;
