@use 'global' as global;
@use 'spacing' as spacing;

$headings-margin-bottom:      spacing.$spacer * .5 !default;
$headings-font-family:        null !default;
$headings-font-style:         null !default;
$headings-font-weight:        500 !default;
$headings-line-height:        1.2 !default;
$headings-color:              var(--#{global.$prefix}heading-color) !default;


$hr-margin-y:                 spacing.$spacer !default;
$hr-color:                    inherit !default;

$hr-bg-color:                 null !default; 
$hr-height:                   null !default; 

$hr-border-color:             var(--#{global.$prefix}border-color) !default; 
$hr-border-width:             var(--#{global.$prefix}border-width) !default;
$hr-opacity:                  .5 !default;